{% load static %}
{% block head %}
{% endblock %}

{% block menu %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>
  <link rel="stylesheet" href="{% static 'css/base_account_style.css' %}">
</head>
<body>

  <header>
    <div class="header-title">Личный кабинет</div>

    <!-- Меню для входа и регистрации -->
    <div class="auth-buttons">
      {% if user.is_authenticated %}
        <a class="btn logout-btn" href="{% url 'users:logout' %}">Выход</a>
      {% else %}
        <a class="btn login-btn" href="{% url 'users:login' %}">Вход</a>
        <a class="btn registration-btn" href="{% url 'users:registration' %}">Регистрация</a>
      {% endif %}
    </div>

  </header>

  <div class="sidenav">
      <a class="button" href="{% url 'account:account_main_page' %}">Мои уроки</a>
      <a class="button" href="{% url 'account:homework_list' %}">Домашнее задание</a>
      <a class="button" href="{% url 'account:homework_list' %}">Мои достижения</a>
      <a class="button" href="{% url 'account:homework_list' %}">Материалы</a>
  </div>

{% endblock %}

{% block content %}
{% endblock %}
